.InputType{
    display: flex;
    align-items: center;
    color: gray;
    cursor: pointer;
    padding: 10px 50px;
}
.InputType:hover{
    background-color: whitesmoke;
    border-radius: 20px;
    color: black;
}
.InputItems > h4{
    margin-left: 5px;
}