.NavContainer{
    display: flex;
    overflow: hidden;
    object-fit: contain;
    position: sticky;
    top: 0px;
}
.LogoText{
    font-size: 35px;
    font-weight: 700;
    margin-top: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(50, 112, 226);
    
}
.Logo{
    display: flex;
    background-color: rgb(50, 112, 226);
    ;
}
.Logo:hover{
    transform: scale(1.1);
    transition: 0.3s;
    cursor: pointer;
}
.NavLeft{
    flex: 0.4;
    background-color: rgb(50, 112, 226);
    display: flex;
    justify-content: center;
    align-items: center;
}
.NavLeft img{
    height: 40px;
    margin: 7px 30px;
    margin-left: 2px;
    border-radius: 7px;
}
.SearchBox{
    display: flex;
    margin-left: 9px;
    width: 250px;
}
.SearchBox input{
    border: none;
    outline-width: 0px;
    width: 240px;
}
.NavRight{
    display: flex;
    background-color: rgb(50, 112, 226);
    /* justify-content: center; */
    flex: 0.6;

    
}

