.Components{
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    /* margin: 15px 20px; */
    margin-top: 0;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 15px;
    background-color: rgb(50, 112, 226);      
}
.Icon,.Title {
    background-color: rgb(50, 112, 226); 
    object-fit: contain;  
}
.Components:hover{
   color: antiquewhite;
}
.Avatar{
    height: 25px!important;
    width: 25px!important;
    margin-bottom: 2px;
    padding-top: 0!important;
} 
/* .Components h5{
    margin-top: 10px;
} */
.Icon{
    margin-top: 12px;
}