.Components{
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    /* margin: 15px 20px; */
    margin-top: 10;
    margin-left: 35px;
    margin-right: 15px;
    margin-bottom: 10px;
    background-color: rgb(50, 112, 226);      
}
.Icon,.Title {
    background-color: rgb(50, 112, 226); 
    object-fit: contain;  
}
.Components:hover{
   color: antiquewhite;
   transform: scale(1.1);
   transition: 0.1s;
}
.Avatar{
    height: 30px!important;
    width: 30px!important;
    margin-bottom: 2px;
    /* padding-top: 0!important; */
    margin-top: 4px!important;
} 
/* .Components h5{
    margin-top: 10px;
} */
.Icon{
    margin-top: 10px;
}