.Sidebar{
    position: sticky;
    top: 80px;
    flex:0.2;
    text-align: center;
    height: fit-content;
    margin-left: 100px;
}
.Avatar{
    margin-bottom: 10px;
}
.SidebarTop > img{
    margin-bottom: -20;
    width: 100%;
    object-fit: cover;
    height: 80px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.SidebarTop{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}